<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.mprog.ghost">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AchievementsActivity"
            android:label="@string/title_activity_achievements"></activity>
        <activity
            android:name=".activity.FeedbackActivity"
            android:label="@string/title_activity_feedback"></activity>
        <activity
            android:name=".activity.RulesActivity"
            android:label="@string/title_activity_rules"></activity>
        <activity
            android:name=".activity.PremiumActivity"
            android:label="@string/title_activity_premium"></activity>
        <activity
            android:name=".activity.ShareActivity"
            android:label="@string/title_activity_share"></activity>
        <activity
            android:name=".activity.UserSettingsActivity"
            android:label="@string/title_activity_user_settings"></activity>
        <activity
            android:name=".activity.GameIntroductionActivity"
            android:label="@string/title_activity_game_introduction"></activity>
        <activity
            android:name=".activity.AccountCreationActivity"
            android:label="@string/title_activity_account_creation"></activity>
        <activity
            android:name=".activity.GameActivity"
            android:label="@string/title_activity_game"></activity>
        <activity
            android:name=".activity.GamesHomeScreenActivity"
            android:label="@string/title_activity_games_home_screen"></activity>
        <activity
            android:name=".activity.GameCreationActivity"
            android:label="@string/title_activity_game_creation"></activity>
    </application>

</manifest>
