<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.mprog.ghost" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.AchievementsActivity"
            android:label="@string/title_activity_achievements" >
        </activity>
        <activity
            android:name=".Activity.FeedbackActivity"
            android:label="@string/title_activity_feedback" >
        </activity>
        <activity
            android:name=".Activity.RulesActivity"
            android:label="@string/title_activity_rules" >
        </activity>
        <activity
            android:name=".Activity.PremiumActivity"
            android:label="@string/title_activity_premium" >
        </activity>
        <activity
            android:name=".Activity.ShareActivity"
            android:label="@string/title_activity_share" >
        </activity>
        <activity
            android:name=".Activity.UserSettingsActivity"
            android:label="@string/title_activity_user_settings" >
        </activity>
        <activity
            android:name=".Activity.GameIntroductionActivity"
            android:label="@string/title_activity_game_introduction" >
        </activity>
        <activity
            android:name=".Activity.AccountCreationActivity"
            android:label="@string/title_activity_account_creation" >
        </activity>
        <activity
            android:name=".Activity.GameActivity"
            android:label="@string/title_activity_game" >
        </activity>
        <activity
            android:name=".Activity.GamesHomeScreenActivity"
            android:label="@string/title_activity_games_home_screen" >
        </activity>
        <activity
            android:name=".Activity.GameCreationActivity"
            android:label="@string/title_activity_game_creation" >
        </activity>
    </application>

</manifest>
